<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <title>Sheng Zhong (Johnson)</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet'
          type='text/css'>
    <link href='main.css' rel='stylesheet' type='text/css'>
    <link href='print.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="github_stats.js"></script>
</head>

<body>

<div class="resume-wrapper">
    <article class="paper">
        <header>
            <div class="header-content">
                <div class="header-text">
                    <p>
                        Sheng <a id="last-name">Zhong</a> (Johnson)
                    </p>
                    <p class="subtitle">Robotics PhD</p>
                    {{#each header}}
                        {{{this}}}
                    {{/each}}
                </div>
            </div>
        </header>

        <div class="content-wrapper">
            {{#each content}}
                {{{this}}}
            {{/each}}
        </div>
    </article>
</div>

<script type="text/javascript">
    (function () {
        if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
            const highlights = document.getElementsByClassName("highlight");
            for (var i = 0; i < highlights.length; ++i) {
                // use different bullet character for safari since diamond's not supported
                highlights[i].className += " highlight-safari";
            }
        }
    })();
</script>
</body>
</html>