<section class="content">
    {{#each rows}}
    <div class="row">
        <div class="content-cat big-text">
            {{#if @first}}{{../contentType}}{{/if}}
            <p {{#unless @first}}style="margin-top:{{../afterFirstDateMargin}}" {{/unless}}>
            {{duration}}</p>
        </div>
        <div class="content-text work-listing education-listing">
            <p style="margin-top:
            {{#if @first}}{{../topDist}}
            {{else}}{{../afterFirstTextMargin}}{{/if}}">
                {{{title}}}</p>

            {{#if caption}}
            <p class="content-caption">{{caption}}
                {{#if reference}} <a class="reference"
                                     href="{{reference.link}}">{{reference.text}}</a>{{/if}}</p>
            {{/if}}

            {{#if desc}}
            <p>
                {{desc}}
                {{#if dollar}}<a class="dollars">{{dollar}}</a>{{/if}}
                {{#unless caption}}{{#if reference}} <a class="reference"
                                                        href="{{reference.link}}">{{reference.text}}</a>{{/if}}{{/unless}}
            </p>
            {{/if}}


            {{#each highlights}}
            <p class="highlight">{{{this}}}</p>
            {{/each}}
        </div>
    </div>
    {{/each}}
</section>
