<section class="content">
    <div class="row">
        <div class="content-cat">
            {{contentType}}
        </div>
        <div class="content-text {{#if long}}long-list{{/if}}">
            {{#each pairs}}
                <ul>
                    <li>{{@key}}</li>
                    <li>{{{this}}}</li>
                </ul>
            {{/each}}
        </div>
    </div>
</section>
